// colors
$white-1: #ffffff;
$black-1: #000000;
$black-blue-1: #2e343d;
$cyan-1: #00deaf;
$red-1: #eb4142;

// font
$font-2: 'UniSansHeavyItalicCAPS';
$font-4: 'Quicksand-Regular';
// $font-1: 'NexaLight';
// $font-3: 'UniSansHeavyCAPS';
// $font-5: 'Quicksand-Light';
// $font-6: 'Quicksand-Medium';